body {
    font-family: consolas;
    background-color: #1A1A1A;
}

li {
    padding: 5px;
    display: flex;
}

article {
    background-color: #c2b688 !important;

}

table {
    border: 5px solid black;
    border-collapse: collapse;
    margin: 5px;
}

td,
th {
    border: 3px solid black;
    height: 30px;
    width: 100px;
    background-color: #FBF1C7 !important;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

nav>h1 {
    margin: 0;
    color: #FBF1C7;
    font-size: xx-large;
}

button {
    background-color: #c2b688;
    font-size: large;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 50px;
    padding: 3px 10px 3px 10px;
}

button:hover {
    background-color: #b8ac80;
}

nav {
    padding-bottom: 10px;
}

article {
    border: 5px solid black;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.setclass {
    font-weight: 1000;
    font-size: larger;
    background: linear-gradient(90deg, #4591c5, #8c76da) !important;
    border-right: 5px solid black;
}

.unacceptable {
    font-weight: 800;
    background: linear-gradient(90deg, #d31027, #a00013) !important;
}

.poor {
    font-weight: 800;
    background: linear-gradient(90deg, #f7971e, #ffd200) !important;
}

.average {
    font-weight: 800;
    background: linear-gradient(90deg, #c47f00, #f39e01) !important;

}

.good {
    font-weight: 800;
    background: linear-gradient(90deg, #008000, #02b402) !important;
}


form {
    color: #FBF1C7;
    gap: 10px;
    font-weight: bold;
}

footer {
    margin-left: 20px;
    color: wheat;
    font-size: larger;
    font-weight: bold;
}